%div(ng:app='behaviorApp')
  .left
    %div(ng:controller='StatusCtrl')
      %div.bow.trow(statusizer data-event='{"mouseenter":{"c":"green","s":"inside"},"mouseleave":{"c":"purple","s":"out"}}')
        mouseover this
      .tricks
        %h1
          {{ data.msg }}
          {{ rev(data.msg) }}
        %div(ng:repeat='fip in fips | filter:search')
          %p(class="{{fip.name}}")
            %span
              {{fip.name}}
            %span
              {{fip.outfit}}
      %div(status unders='diapers')
  .right
    %div(ng:controller='StatusCtrl')
      %div.bow.trow(statusizer data-event='{"mouseenter":{"c":"green","s":"inside"},"mouseleave":{"c":"purple","s":"out"}}')
        mouseover this
      .tricks
        %h1
          {{ data.msg }}
          {{ rev(data.msg) }}
        %div(ng:repeat='fip in fips | filter:search')
          %p(class="{{fip.name}}")
            %span
              {{fip.name}}
            %span
              {{fip.outfit}}
      %div(status unders='boobies')

    