%div(ng:app='demo' ng:controller='LeftPanelController as ctrlLeftPanel' ng:init='ctrlLeftPanel.init()')
  .trigger(ng:class='{purple:!mouseOverLeft,green:mouseOverLeft}' ng:init='mouseOverLeft = false' ng:mouseenter='mouseOverLeft = true' ng:mouseleave='mouseOverLeft = false')  
    mouseover this
  .info(ng:if='mouseOverLeft')
    %h1.message
      {{ ctrlLeftPanel.data.msg }}
    %ul.infoList
      %li.infoItem(ng:repeat='item in ctrlLeftPanel.data.infoList | filter:search' class="{{item.name}}")
        %span.name.underline {{item.name}}
        %span.desc {{item.desc}}
  .right(ng:controller='CircleNestController as ctrlCircleNest' ui-view='simpleright')
    %div(ng:init='ctrlCircleNest.init()')
      #circleNest
