%span.app.ng-cloak(ng:app='demo')
  %h1
    Interesting Scatterplot. Refresh the page to see new data!

  %span.scatterPlot(ng:controller='ScatterplotExampleController as ctrlScatterplotExample' ng:init='ctrlScatterplotExample.init()' ui-view='scatterplotExample')
