span.app.ng-cloak x-ng-app='demo'
  h1 Interesting Scatterplot
  h2 Mouseover the dots to identify them. Refresh the page to see new data!
  span.scatterPlot x-ng-controller='ScatterplotController as ctrlScatterplot' x-ng-init='ctrlScatterplot.init()' ui-view='scatterplot'
