//return the golden ratio
@function goldenRatio()
  @return 1.61803398878024268285

//define the standard power function
@function pow($base,$exponent)
  $multiplier: $base
  @for $i from 1 to $exponent
    $base: $base * $multiplier
  @return $base

//raise the golden ratio to the power of $n
@function gr($n)
  @return pow(goldenRatio(), $n)

//convert gr($n) to em
@function grEm($n)
  @return 1em * gr($n)

//default div width
$widthDiv: grEm(6)


//styles
h1
  font:
    size: grEm(1)
#header
  border: 
    bottom: 1px dashed black
  padding: grEm(1)
  a
    margin: grEm(1)
#content
  div
    width: $widthDiv
    padding: $widthDiv / gr(8)
    border: grEm(1) solid transparent
  .salmon
    border:
      color: green
    background: salmon
  .olive
    border:
      color: white
      style: dotted
    background: olive
  .green
    border:
      color: purple
    background: GreenYellow
  .purple
    border:
      color: indigo
      style: dotted
    background: lightcoral


//scatter plot
.axis path,
.axis line 
  fill: none
  stroke: #000
  shape-rendering: crispEdges

.dot 
  stroke: #000
.tooltip 
  position: absolute
  width: 200px
  height: 28px
  pointer-events: none

.experiment
  width: 300px
  height: 300px
  background: pink

