//return the golden ratio
@function goldenRatio()
  @return 1.61803398878024268285

//define the standard power function
@function pow($base,$exponent)
  $multiplier: $base
  @for $i from 1 to $exponent
    $base: $base * $multiplier
  @return $base

//raise the golden ratio to the power of $n
@function gr($n)
  @return pow(goldenRatio(), $n)

//convert gr($n) to em
@function grEm($n)
  @return 1em * gr($n)

//variables
$widthDiv: grEm(6)
$color1: #2A4B8C
$color2: #3B74BF
$color3: #63CAF2
$color4: #F2AE2E
$color5: #F28B30

//styles
h1
  font:
    size: grEm(1)
  padding: grEm(1)
h2
  @extend h1
  font:
    size: grEm(1)*0.75
li
  padding: grEm(1) / 2
.underline
  text-decoration: underline
#header
  border: 
    bottom: 1px dashed black
  padding: grEm(1)
  a
    margin: grEm(1)
#content
  div
    width: $widthDiv
    padding: $widthDiv / grEm(8)
    border: grEm(1) solid transparent
  .infoOn
    border:
      color: $color2
    background: $color5
  .infoOff
    border:
      color: $color1
      style: dotted
    background: $color4
  
  #circleNest
    .hindMost
      stroke: $color1
      fill: $color3
    .nested
      stroke: $color2
      stroke-width: 2
      fill: $color5

//scatter plot
.axis path,
.axis line 
  fill: none
  stroke: #000

.dot 
  stroke: #000
.tooltip 
  position: absolute
  width: grEm(2)
  height: grEm(2)
  pointer-events: none
  background: rgba(255,255,255, 0.8) 

