h1
  padding: 0.3em
[ng\:app]
  div
    width: 20em
    padding: 0.3em
    margin:
      top: 0.6em
      bottom: 0.6em
    border: 0.3em solid transparent
  .green
    border
      color: green
    background: GreenYellow
  .purple
    border:
      color: indigo
      style: dotted
    background: lightcoral
  .tricks
    border:
      style: solid
      color: #9cc
    > h1
      background:
        color: #eeb
  [status]
    border:
      style: dotted
      color: #ccc
  