%a(href='/angular/simple') /angular/simple
%a(href='/angular/hexagonMesh') /angular/hexagonMesh
%a(href='/chart/scatterplotExample') /chart/scatterplotExample
%a(href='/chart/candles') /chart/candles
%a(href='/chart/experiment') /chart/experiment
